body{
    background: #bebeda;
    padding: 20px;
}

header{
    background-color: #8c32ec;
    /*background-image: url(../req_files/images/headimg1.jpg);*/
    color: #ffffff;
    height: fit-content;
    /*border-radius: 20px;*/
    text-align: center;
    font-size: 50px;
    font-family: cursive,Arial, Helvetica, sans-serif;
}
.head{
    border-radius: 50px;
    background-image: url(headimg1.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
/*--------------------------------GENERAL NAV, HEADING AND SECION--------------------------------------------------*/
nav{
    /*height: fit-content;
    width: 80%;*/
    /*border-radius: 20px;
    background: #e4e265;
    padding: 10px;
    font-family: cursive,Arial, Helvetica, sans-serif;*/
    /*text-align: center;*/
    position: relative;
    left: 130px;
}
h3{
    font-size: 30px;
    /*padding-left: 80px;*/
}
section{
    height: fit-content;
    width: 80%;
    /*border-radius: 20px;*/
    background: #e4e265;
    padding: 20px;
    font-family: cursive,Arial, Helvetica, sans-serif;
}
/*---------------------------------------------SECTION 0-----------------------------------------------------------*/
section.sec0{
    border-radius: 50px 50px 0 0;
}
/*-----------------------------------------------SECTION 1---------------------------------------------------------*/
section.sec1{
    display: inline-block;
}
p.sec1{
    display: inline-block;
    float: left;
    width: 65%;
    text-align: justify;
}
img.sec1{
    height: 250px;
    width: 350px;
    display: inline-block;
    float: right;
    padding-right: 30px;
}
/*-----------------------------------------------SECTION 2---------------------------------------------------------*/
section.sec2{
    display: inline-block;
}
p.sec2{
    display: inline-block;
    float: right;
    width: 65%;
    text-align: justify;
}
img.sec2{
    height: 250px;
    width: 350px;
    display: inline-block;
    float: left;
    padding-left: 30px;
}
/*-----------------------------------------------SECTION 3---------------------------------------------------------*/
section.sec3{
    display: inline-block;
}
p.sec3{
    display: inline-block;
    float: left;
    width: 65%;
    text-align: justify;
}
img.sec3{
    height: 250px;
    width: 350px;
    display: inline-block;
    float: right;
    padding-right: 30px;
}
/*-----------------------------------------------SECTION 4---------------------------------------------------------*/
section.sec4{
    display: inline-block;
}
p.sec4{
    display: inline-block;
    float: right;
    width: 65%;
    text-align: justify;
}
img.sec4{
    height: 250px;
    width: 350px;
    display: inline-block;
    float: left;
    padding-left: 30px;
}
/*-----------------------------------------------SECTION 5---------------------------------------------------------*/
section.sec5{
    border-radius: 0 0 50px 50px;
    display: inline-block;
    padding-bottom: 30px;
}
p.sec5{
    display: inline-block;
    float: left;
    width: 65%;
    text-align: justify;
}
img.sec5{
    height: 250px;
    width: 350px;
    display: inline-block;
    float: right;
    padding-right: 30px;
}


/*---------------------------------------------NEXT PATE BUTTON----------------------------------------------------*/
article.nxtpage{
    /*display: inline-block;*/
    position: relative;
    left: 670px;
    width: fit-content;
    text-align: center;
    padding: 8px;
    margin: 10px;
    border-radius: 25px;
    background: #ffffff;
}
article.nxtpage:hover{
    background: #236812;
    color: #ffffff;
    padding: 15px;
    margin: 3px;
}
a.nxtpagelnk{
    font-size: 25px;
    font-family: cursive,Arial, Helvetica, sans-serif;
    text-decoration: none;
}
a.nxtpagelnk:hover{
    background: #236812;
    color: #ffffff;
}
/*---------------------------------------------------FOOTER SECTION----------------------------------------------------------------*/
footer{
    display: inline-block;
    float: right;
    height: 150px;
    width: 84%;
    border-radius: 20px;
    background: #8c32ec;
}
footer>.footer{
    padding-left: 10px;
    font-family: cursive,Arial, Helvetica, sans-serif;
    color: #ffffff;
}
a.footer{
    /*text-decoration-color: ;*/
    color: #ffffff;
}
p.xfooter{
    font-family: Arial, Helvetica, sans-serif;
    color: #a0a097;
    padding-right: 15px;
    font-size: 15px;
    float: right;
}
/*--------------------------------------------------ARTICLE ON LEFT SIDE OF FOOTER-----------------------------------------------*/
article.btmimg{
    display: inline-block;
    height: 150px;
    width: fit-content;
    border-radius: 20px;
    background: #8c32ec;
}
.ftimg1{
    /*display: inline-block;*/
    /*float: right;*/
    height: 100px;
    width: 80px;
    padding: 15px;
    padding-top: 25px;
    align-self: center;
}
